$white-color: #ffffff;
$black-color: #000000;
$red-color: #EF483E;
$dark-gray-color: #343539;
$light-gray-color: #CFCFCF;
$gray-color: #4B4B4F;
$gray-color2: #717174;


$font-Helvetica: 'Helvetica Neue', sans-serif;

%h1 {
  font-weight: bold;
  font-size: 56px;
  line-height: 68px;
  @media screen and (max-width: 992px) {
    font-size: 48px;
    line-height: 60px;
  }
  @media screen and (max-width: 768px) {
    font-size: 36px;
    line-height: 48px;
  }
  @media screen and (max-width: 576px) {
    font-size: 32px;
    line-height: 40px;
  }
}


%h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  @media screen and (max-width: 768px) {
    font-size: 22px;
    line-height: 26px;
  }
  @media screen and (max-width: 576px) {
    font-size: 20px;
    line-height: 24px;
  }
}


%text13 {
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
}

%text15 {
  font-weight: normal;
  font-size: 15px;
  line-height: 19px;
}

body {
  background-color: $dark-gray-color;
  font-family: $font-Helvetica;
}

.container {
  width: 100%;
  max-width: 1610px;
  margin: 0 auto;
  padding: 0 16px;
  @media screen and (max-width: 1640px) {
    max-width: 1200px;
  }
  @media screen and (max-width: 1200px) {
    max-width: 960px;
  }
  @media screen and (max-width: 992px) {
    max-width: 720px;
  }
  @media screen and (max-width: 768px) {
    max-width: 540px;
  }
  @media screen and (max-width: 576px) {
    max-width: none;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: -6px;
  margin-left: -6px;
}

.col-2 {
  width: 50%;
  flex-shrink: 0;
  padding: 0 6px;
}

.p-0 {
  padding-left: 0;
  padding-right: 0;
}

.form-group {
  margin-bottom: 16px;

  label {
    display: block;
    @extend %text13;
    color: $white-color;
    margin-bottom: 8px;
  }

  &__input {
    border: 1px solid $white-color;
    background-color: $white-color;
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    padding: 0 14px;
    border-radius: 0;
    @extend %text15;
    color: $black-color;

    &:focus, &:active {
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      color: $light-gray-color;
    }
  }

  textarea {
    width: 100%;
    resize: none;
    padding: 13px 14px;
    border-radius: 0;

    &:focus, &:active {
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      color: $light-gray-color;
    }
  }
}

.form-select {
  .select2-container {
    background: $white-color;
    box-sizing: border-box;
    height: 44px !important;
    box-shadow: none;
    border-radius: 0;
    border: none;

    &:focus, &:active {
      outline: none;
      box-shadow: none;
      border: none;
    }

    &.select2-container--open, &.select2-container--focus {
      outline: none;
      box-shadow: none;
    }

    &.select2-container--open {
      .select2-selection__arrow {
        transform: rotate(180deg);
      }

      .select2-selection--multiple .select2-selection__rendered:after {
        transform: rotate(180deg);
      }
    }

    .select2-selection--single {
      background: $white-color;
      box-sizing: border-box;
      height: 44px !important;
      border-radius: 0 !important;
      border: 1px solid $white-color;

      &[aria-expanded="true"] {
        border-radius: 4px 4px 0 0 !important;
        border-color: $white-color !important;

        .select2-selection__arrow b {
          transform: rotate(180deg);
        }
      }

      &:focus, &:active {
        outline: none;
        box-shadow: none;
        border-radius: 4px;
        border-color: $white-color !important;
      }
    }

    .select2-selection__rendered {
      height: 42px;
      line-height: 42px !important;
      @extend %text15;
      color: $black-color !important;
      padding-left: 12px !important;
    }

    .select2-selection__arrow {
      height: 5px !important;
      width: 8px !important;
      top: 0;
      right: 20px !important;
      bottom: 0;
      margin: auto;
      background-image: url("../img/select-arrow.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;

      b {
        display: none;
      }
    }
  }
}

.custom-select {
  border: none !important;
  padding: 0 !important;
  border-radius: 0 !important;

  .select2-results__option {
    position: relative;
    padding: 5px 12px !important;
    @extend %text15;

    &:hover {
      background: $red-color !important;
      color: $white-color !important;
    }

    &[aria-selected="true"] {
      color: $white-color;
      background: $red-color !important;
    }
  }
}


.form-check {
  input {
    display: none;
  }

  label {
    @include flex;
    @extend %text13;
    color: $white-color;
    cursor: pointer;

    &:before {
      @include before;
      height: 24px;
      width: 24px;
      flex-shrink: 0;
      margin-right: 12px;
      box-sizing: border-box;
      border: 2px solid $white-color;
    }
  }

  input:checked + label:before {
    background-color: $red-color;
    border-color: $red-color;
    background-image: url("../img/checked-white.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 11px;
  }
}

.form-custom-radio {
  input {
    display: none;
  }

  label {
    display: flex;
    align-items: center;
    position: relative;
    padding: 13px 140px 13px 36px;
    height: 44px;
    cursor: pointer;
    background-color: $gray-color;

    &:before {
      @include before;
      @include p-absolute;
      bottom: 0;
      left: 12px;
      margin: auto;
      height: 16px;
      width: 16px;
      border-radius: 50%;
      border: 4px solid $white-color;
      transition: all 0.25s;
    }

    p {
      @extend %text15;
      color: $light-gray-color;
      margin-bottom: 0;
      width: 100%;
      display: block;
      overflow: hidden;
      white-space: nowrap;
      position: relative;

      &:after {
        @include before;
        @include p-absolute;
        right: 0;
        left: auto;
        height: 100%;
        width: 100px;
        background: linear-gradient(90deg, rgba(75, 75, 75, 0) 50%, rgba(75, 75, 75, 1) 99.49%);
      }
    }

    span {
      display: block;
      position: absolute;
      z-index: 3;
      top: 10px;
      right: 10px;
      background: $gray-color2;
      opacity: 0.3;
      border-radius: 2px;
      padding: 4px 14px;
      @extend %text13;
      letter-spacing: 0.05em;
      color: $white-color;
      text-transform: uppercase;
      transition: all 0.25s;
    }
  }


  input:checked {
    & + label:before {
      border-color: $red-color;
    }

    & + label span {
      opacity: 1;
    }
  }
}
